@media screen and (min-width: 1840px) {
/*.container{width: 1806px;}*/


*/

}
@media screen and (max-width: 1799px) {
	/*.right-bar{left: 200px;}*/
}
@media screen and (max-width: 1599px) {


}
@media screen and (max-width: 1366px) {
.home_product ul li .front h2{font-size: 18px;}
.home_product ul li .back .pro_desc h2{font-size: 18px;}	
.home_product ul li .back{padding: 0 20px;}
.home_product ul li .back .pro_desc{margin-top: 40px;}
#myVideo{top: 0;left: 0;min-width: 100%;min-height: 100%;width: auto;height: auto;}


}

@media screen and (max-width: 1260px) {
		
	}

@media screen and (max-width: 1199px) {
.container{width:1000px;}
#myVideo{top: 0;left: 0;min-width: 100%;min-height: 100%;width: auto;height: auto;}
.home_product ul li .front h2{font-size: 14px;}
.home_product ul li .back{padding: 0 15px;}
.home_product ul li .back .pro_desc{margin-top: 12px;}
.home_product ul li .back .pro_desc .order_btn{width: 100%;}
.home_product ul li .back .pro_desc h2{margin-bottom: 10px;}
.home_product ul li .back .pro_desc .order_btn a{height: 40px;font-size: 15px;line-height: 40px;}
.home_product ul li .back .pro_desc .order_btn{height: 40px;}
.home_product ul li .back .pro_desc h2{line-height: 25px;}
.home_services ul li{width: 170px;}
.video_section .video{width: 450px;}
.home_featured #featured .featured-img figure span{height: 143px;}
.our_client .client_rgt{width: 600px;}
.video-container .video_content{bottom: 30%;}
.product-category ul.products li{width: 217px;}
.product-category ul.products li figure span{height: 144px;}
.product-datail .woocommerce-product-gallery{width: 430px;margin-right: 50px;}
#featured .featured-img figure span{height: 143px;}
.woocommerce-privacy-policy-text p{line-height: 24px;}
}

@media screen and (max-width: 1023px) {
.container{width: 782px}
.mm-navbars_top{background: #028cc5!important;}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar > *{font-weight: 500;}
.mm-menu .mm-btn::after, .mm-menu .mm-btn::before {border-color: #fff!important;}
.mm-panel{background-color: rgba(0, 0, 0, 0.2);}
.mm-listitem a{font-size: 15px;text-transform: uppercase;}
.mm-menu .mm-navbar a, .mm-menu .mm-navbar > *{text-transform: uppercase;}

.header_menu {display: none;}
.mob-nav {display: block!important;width: 20px;height: 14px;overflow: hidden;float: left;margin: 27px 0 0 0}
.menu-btn {width: 20px;height: 20px;float: left;background: url(../images/menu.png) no-repeat center;margin-top: 25px;margin-top: 35px;}
.header_bottom.fixed .menu-btn{width: 20px;height: 20px;float: left;background: url(../images/menu_sticky.png) no-repeat center;margin-top: 25px;margin-top: 35px;}
header .header_bottom .logo{float: none;display: inherit;margin: 0 auto;width: 100px;}
header .header_bottom{height: 95px;}
header .header_bottom .header_right{margin-top: -50px;}
.home_product ul li{width: 33%;}
.home_product ul li .back .pro_desc .order_btn{width: 180px;}
.home_product ul li .front h2{font-size: 17px;}
.home_product ul li .back .pro_desc{margin-top: 40px;}
.home_product ul li .back{padding: 0 42px;}
.home_services ul li:nth-child(3n){margin-right: 0;}
.home_services ul li{width: 225px;float: none;display: inline-block;margin-bottom: 37px;}
.home_services ul{margin-bottom: 50px;}
.home_services{padding: 87px 0 80px 0;}
.video_section .video{width: 100%;}
.video_section .video_content{width: 100%;float: left;margin-top: 40px;}
.video_section{padding: 70px 0 50px 0;}
.video_section .video iframe{height: 400px;}
.home_featured #featured .featured-img figure span{height: 145px;}
.home_featured{padding: 60px 0 50px 0;}
.our_client h2::after{background: none;}
.our_client h2{text-align: center;font-size: 35px;}
.our_client .client_lft{width: 100%;}
.our_client .client_rgt{width: 100%;margin-top: 20px;}
.our_client .client_rgt p{text-align: center;}
.our_client .client_rgt span{text-align: center;}
.our_client{padding: 60px 0 70px 0;}
.footer-menu{float: left;}
.footer-location .footer-contact ul li .email-id{font-size: 14px;margin-left: 5px;}
.footer-location .footer-social-icon ul li{margin: 0px 3px 0 0;}
.footer-subscribe .footer-client-img{margin-top: 0;width: 100%;float: left;margin-top: 10px;}
.footer-subscribe .footer-client-img ul{width: 100%;float: left;}
.footer-subscribe .footer-client-img ul li{width: 100%;margin-right: 0;}
.footer-subscribe li{line-height: 18px;}
.our_client .client_rgt:before{background: none;}
.video-container .video_content{bottom: 8%;margin-top: 30px;}
.video-container .video_content h1{font-size: 40px;}
.video-container .video_content .order_btn{margin-top: 30px;}
.video-container .video_content .buttons button{width: 50px;}
.header-top-mobile{display: block!important;width: 100%;float: left;background: #028cc5;padding: 13px 0;position: relative;z-index: 1111;}
.header-top{display: none;}
.header-top-mobile .header-left{width: auto;float: left;}
.header-top-mobile .header-left .header-phone{width: auto;float: left;}
.header-top-mobile .header-left .header-mail{width: auto;float: left;margin-left: 15px;}
.header-top-mobile .header-right{width: auto;float: right;}
.header-top-mobile .header-right ul{width: auto;float: left;}
.header-top-mobile .header-right ul li{width: auto;float: left;margin-right: 10px;}
.header-top-mobile .header-right ul li:last-child{margin-right: 0;}
.product-category ul.products li:nth-child(3n){margin-right: 0;}
.product-category ul.products li:nth-child(4n){margin-right: 37px;}
.product-category ul.products li{width: 231px;}
.product-category ul.products li figure span{height: 152px;}
.r-tabs .r-tabs-nav {
		display: none
	}
	.r-tabs .r-tabs-accordion-title {
		display: block;
		width: 100%;
		float: left
	}
	.main-tabs-box {
		padding: 10px 0 0
	}
	.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
		color: #fff;
		padding: 12px 10px;
		background: url(../images/detail-plus-icn.png) 98.5% center no-repeat #028cc5;
		background-size: 12px auto;
		font-size: 17px;
		font-weight: 400;
		letter-spacing: 0;
		font-family: 'Open Sans', sans-serif
	}
	.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
		background: url(../images/detail-minus-icn.png) 98.5% center no-repeat #000;
		border: 1px solid #b0b0b0;
		background-size: 12px auto;
		border-bottom: 1px solid #b0b0b0
	}
	.r-tabs .r-tabs-panel {
		margin-top: 0;
		border: 1px solid #b0b0b0;
		border-top: none;
		width: 100%;
		float: left;
		padding: 5px 15px 15px
	}
	.r-tabs-accordion-title {
		margin: 0px 0 0;
	}
	.r-tabs-accordion-title.r-tabs-state-active {
		box-shadow: none
	}
	.product-datail .summary .single_add_to_cart_button{padding-left: 40px;background-position: left 70px center !important;}
	.product-datail .summary .single_add_to_cart_button:hover{background-position: left 70px center !important;}
	.product-datail .summary{width: 400px;}
	.product-datail .woocommerce-product-gallery{width: 300px;}
	.product-datail .summary .single_add_to_cart_button{width: 290px !important;}
	.detail-tabs{border: none;}
	.product-datail .r-tabs .r-tabs-panel h4{font-size: 18px;margin-bottom: 5px;}
	#featured .featured-img figure span{height: 152px;}
	.cart-wrapper h1{font-size: 28px;}
	.cart_totals h2{font-size: 26px;}
}
@media screen and (max-width: 810px) {
.container{width:750px;} 
.video-container .video_content{bottom: 30%;}
.product-category ul.products li{width: 220px;}
.product-category ul.products li figure span{height: 146px;}
#featured .featured-img figure span{height: 145px;}
}

@media screen and (max-width: 767px) {
.container{width:620px;}
.video-container .video_content{bottom: 10%;}
.video-container .video_content h1{font-size: 40px;margin-top: 10px;}
.home_services ul li{width: 182px;}
.home_services ul li h3{line-height: 21px;}
.home_product ul li .back{padding:0 20px; }
.home_product ul li .back .pro_desc .order_btn{width: 100%;}
.video_section .video iframe{height: 325px;}
.home_featured #featured .featured-img figure span{height: 192px;}
.footer-menu{width: 20%;}
.footer-location{width: 80%;}
.footer-subscribe{width: 100%;float: left;margin-top: 50px;}
.footer-subscribe .footer-client-img ul li{width: auto;margin-right: 50px;}
.footer-contact{margin-top: 0;}
.footer-location .footer-social-icon{margin-top: 0;}
.menu-btn{margin-top: 35px;}
.video-container .video_content .order_btn{margin-top: 30px;}
.video-container .video_content .buttons button{width: 50px;}
.overlay button{font-size: 18px;}
.product-category ul.products li figure span{height: 198px;}
#featured .featured-img figure span{height: 192px;}
.cart-wrapper .actions{padding:0!important;}
.cart-wrapper h1{font-size: 26px;}
.cart_totals h2{font-size: 24px;}
.woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td{background: none!important;}
.woocommerce-cart .cart-wrapper .cart_totals .shop_table tr{border-bottom: none!important;width: 100%;display: inline-block;}
.woocommerce-cart .cart-collaterals .shipping-calculator-form{margin: 1em 0 10px 0!important;}
.shipping-calculator-form .button{float: left!important;}
.wc-proceed-to-checkout .button{width: 100%!important;margin-top: 0!important;}
.woocommerce-cart-form .quantity{margin-top: 0;}
.woocommerce ul#shipping_method li label{font-size: 15px;}
.woocommerce-shipping-destination{font-size: 15px!important;}
.cart_totals .shipping-calculator-button{font-size: 15px;}
.cart_totals .woocommerce-Price-amount{float: none;display: inline-block;}
.woocommerce-products-header__title{font-size: 26px;}
.woocommerce-info{font-size: 15px;padding: 15px 56px !important;}
.woocommerce-info::before {top: 16px !important;}
.woocommerce form.checkout_coupon p{font-size: 15px;}
.woocommerce-form-coupon .button{font-size: 14px !important;height: 36px;}
#customer_details.col2-set .col-1{width: 100%;float: left;margin-right: 0;}
#customer_details.col2-set .col-2{margin-top: 20px;width: 100%;}
.woocommerce table.shop_table{font-size: 15px;}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order{-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);
-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);}
}
@media screen and (max-width: 639px) {
.container{width:548px;}
.video-container .video_content{bottom: 5%;}
.video-container .video_content h1{font-size: 30px;}
.video-container .video_content .order_btn{margin-top: 12px;height: 40px;line-height: 40px;}
.video-container .video_content .buttons button{width: 40px;}
.video-container .video_content h1{margin-top: 8px;}
.video-container .video_content .order_btn a{line-height: 40px;}
.home_product ul li{width: 49.7%;}
header .header_bottom .logo{width: 80px;}
header .header_bottom{height: 80px;}
.menu-btn{margin-top: 30px;}
header .header-top .header-right ul li{margin-right: 5px;}
header .header-top .header-left .header-mail{margin-left: 10px;}
header .header-top .header-left span{font-size: 14px;}
.video-container .video_content{bottom: 8%;}
.home_services ul li:nth-child(2n){margin-right: 0;}
.home_services ul li{width: 255px;}
.home_services ul li:nth-child(3n){margin-right: 37px;}
.video_section .video iframe{height: 285px;}
.video_section .video_content h2{font-size: 28px;}
.home_featured #featured .featured-img figure span{height: 166px;}
.our_client h2{font-size: 28px;}
.footer-menu{width: 25%;}
.footer-location{width: 75%;}
header .header_bottom .header_right .user{margin-left: 15px;}
header .header_bottom .header_right .header_cart{margin-left: 10px;}
.overlay input[type=text]{width: 100%;}
.overlay button{width: 100%;}
.product-category .woocommerce-products-header h1{font-size: 25px;}
.product-category ul.products li figure span{height: 175px;}
#featured .featured-img figure span{height: 172px;}
.product-datail .summary .product_title{font-size: 25px;}
.product-datail .summary .price{font-size: 22px;}
.product-datail .related h2{font-size: 22px;}
.product-datail .recently-viewed h2{font-size: 22px;}

}
@media screen and (max-width: 567px) {
.container{width:400px;}
header .header-top .header-left{width: 100%;}
header .header-top .header-left .header-phone{width: auto;float: left;}
header .header-top .header-left .header-mail{float: right;margin-left: 0;}
.video-container .video_content{bottom: 30%;}
.video-container .video_content h1{margin-top: 30px;}
.video-container .video_content .order_btn{margin-top: 30px;}
.home_product ul li{width: 100%;}
.home_product ul li .back .pro_desc .order_btn{width: 180px;}
.home_services ul li{width: 100%;margin-right: 0;}
.home_services ul li:nth-child(3n){margin-right: 0;}
.video_section .video iframe{height: 200px;}
.video_section .video_content h2{font-size: 25px;}
.home_featured #featured .featured-img figure span{height: 122px;}
.home_featured h2{font-size: 25px;}
.add_cart_btn{width: 160px;}
.add_cart_btn a{font-size: 15px;}
.home_featured .featured-content .featured-price{font-size: 20px;}
.our_client h2{font-size: 25px;}
.footer-menu{width: 100%;}
.footer-location{width: 100%;margin-top: 20px;}
.footer-location .footer-img-sec{width: 100%;float: left;text-align: left;}
.footer-location .location{width: 100%;float: left;text-align: left;padding: 0;margin-top: 20px;}
.footer-location .footer-contact ul li .email-img{width: 7%;}
.footer-location .footer-contact ul li .phone-img{width: 7%;}
footer{padding: 35px 0px 35px 0;}
.site-info p{width: 100%;float: left;line-height: 20px;}
.product-category .woocommerce-products-header h1{font-size: 22px;}
.product-category .woocommerce-products-header h2{font-size: 18px;}
.product-category ul.products li{width: 100%!important;}
.product-category ul.products li figure span{height: 247px;}
.product-category ul.products li figure span img{width: 100%;}
.product-category .woocommerce-info{font-size: 14px;}
#featured .featured-img figure span{height: 123px;}
#featured .featured-content .featured-title{font-size: 14px;line-height: 18px;}
.related .add_cart_btn{width: 160px;font-size: 14px;}
#featured .featured-content .featured-price{font-size: 20px;}
.cart-wrapper h1{font-size: 22px;}
.cart_totals h2{font-size: 20px;}
.woocommerce table.shop_table_responsive tr, .woocommerce-page table.shop_table_responsive tr{font-size: 14px;}
.cart_totals .woocommerce-Price-amount{font-size: 14px;}
.cart_totals .woocommerce-shipping-destination{font-size: 14px!important;}
.woocommerce-info {font-size: 14px;padding: 15px 50px !important;}
.woocommerce-products-header__title{font-size: 24px;}
}
@media screen and (max-width: 413px) {
.container{width:300px;}
.home_featured #featured .featured-img figure span{height: 199px;}
.our_client h2{line-height: 34px;}
.product-category ul.products li figure span{height: 200px;}
.product-category .woocommerce-ordering{width: 100%;}
.product-category .woocommerce-pagination{width: 100%;}
.product-category .woocommerce-products-header h2{margin-bottom: 20px;}
.product-category .woocommerce-pagination ul{margin-right: 0px;}
.product-category .woocommerce-ordering{margin-top: 10px!important;}
.product-category .woocommerce-info{font-size: 14px;line-height: 18px;}
.single-product .product-datail .woocommerce-breadcrumb{line-height: 21px;}
.product-datail .summary .product_title{font-size: 20px;line-height: 22px;}
.product-datail .summary .price{font-size: 22px!important;}
.product-datail .quantity{width: 70px;}
.product-datail .summary .single_add_to_cart_button{width: 215px!important;font-size: 16px;background-position: left 42px center !important;}
.product-datail .summary .single_add_to_cart_button:hover{background-position: left 42px center !important;}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor{background-position: 97% center;}
#featured .featured-img figure span{height: 200px;}
.woocommerce-info{line-height: 21px;}
.woocommerce-shipping-fields h3{font-size: 20px!important;}
.woocommerce-privacy-policy-text p{font-size: 15px;}
}

