html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kfeature-product-div,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0; font:inherit; font-size:100%; outline:0; vertical-align:baseline; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; *zoom:1;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
a{background:transparent; color:#000; outline:none; text-decoration:none; vertical-align:baseline; margin:0; padding:0;}
a:hover { text-decoration:none;}

abbr[title],dfn[title] {border-bottom:1px dotted; cursor:help;}
input,select {vertical-align:middle; border:none; outline:none; border-radius:0; font-family: 'Poppins', sans-serif;}
input:focus{border:none; outline:none; -webkit-appearance:none;}
select::-ms-expand {display: none;}
select:focus{border:none; outline:none;  -webkit-appearance:none;}
textarea{border:none; outline:none;  -webkit-appearance:none;}
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button; -webkit-border-radius: 0; cursor:pointer;}
button[disabled],input[disabled] {cursor:default; font-family: 'Poppins', sans-serif;}
input[type="checkbox"],input[type="radio"] {box-sizing:border-box; padding:0;}
input[type="search"] {-moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input::-moz-focus-inner {border:0;padding:0;}
input[type="text"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"]{ outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none;}
input[type="text"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus{ outline:none;}
textarea {overflow:auto;vertical-align:top; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none; font-family: 'Open Sans', sans-serif;}
textarea:focus{ outline:none;}
a, input, img, button{-webkit-transition:all .3s ease-in; -moz-transition:all .3s ease-in; -ms-transition:all .3s ease-in; -o-transition:all .3s ease-in; transition:all .3s ease-in;}

h1,h2,h3,h4,h5,h6 {font-weight:400; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
img {max-width: 100%;height: auto; width: auto\9; /* ie8 */border:none;}
*{ margin:0px; padding:0px;}
nav ul {list-style:none;}
ul{ list-style:none;}
strong{ font-weight:700;}
.nopad{ padding-bottom:0px !important;}     
em{ font-style:italic;}
div, ul, li, a, ol, p, span, figure, section, input, textarea{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body{font-family: 'Open Sans', sans-serif!important;font-size:16px; font-weight:400; margin:0px; padding:0px; text-align:center; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; line-height:1;}
#wrapper{ width:100%; float:left; background: #fff;}
body{background: #ffffff!important;}
.container{width: 1200px; margin:0px auto;} 
.mob-nav {display: none;}
#wrapper{width: 100%;float: left;}
header{width: 100%;float: left;position: relative;height: 100vh;}
header .header-top{width: 100%;float: left;background: #028cc5;padding: 13px 0;position: relative;z-index: 1111;}
header .header-top .header-left{width: auto;float: left;}
header .header-top .header-left .header-phone{width: auto;float: left;}	
header .header-top .header-left img{width: auto;display: inline-block;vertical-align: middle;}
header .header-top .header-left .header-mail{width: auto;float: left;margin-left: 49px;}
header .header-top .header-left span{margin-left: 11px;color: #fff;font-size: 15px;}
header .header-top .header-left span a{color: #fff;}
header .header-top .header-left span a:hover{color: #000;}
header .header-top .header-right{width: auto;float: right;}
header .header-top .header-right span{width: auto;display: inline-block;vertical-align: middle; color: #fff;font-size: 15px;margin-right: 14px;}
header .header-top .header-right ul{width: auto;display: inline-block;vertical-align: middle;}
header .header-top .header-right ul li{width: auto;display: inline-block;vertical-align: middle; margin-right: 13px;}
header .header-top .header-right ul li:hover{opacity: 0.7;}
header .header-top .header-right ul li:last-child{margin-right: 0;}

header .header_bottom{width: 100%;float: left;background-color: rgba(0, 0, 0, 0.7);position: relative;z-index: 1111;padding: 0px 0;}
header .header_bottom .logo{width: auto;float: left;padding: 13px 0;}
.video_bg{width: 100%;float: left;}
.video-container .video_content{width: 100%;float: left;text-align: center;position: absolute;bottom: 20%; z-index: 111;}
.video-container .video_content .buttons button{border: none;background: none;}
.video-container .video_content .buttons button:focus{outline: none;}

.second {display: none;}
#video_overlays{position:absolute;float:left;width:100%;min-height:522px;background-color: rgba(0, 0, 0, 0.3);z-index:11;height: 100vh;}
.video-container {
width:100%;
height:100vh;
overflow:hidden;
position:absolute;
top:0;
left:0;
}

#myVideo{width:100%;}
.video-container .video_content h1{width: 100%;float: left;text-align: center;color: #fff;font-size: 56px;font-family: 'Poppins', sans-serif;font-weight: 700;margin-top: 48px;}
.video-container .video_content .order_btn{width: 160px;display: inline-block;height: 51px;margin-top: 42px;font-family: 'Open Sans', sans-serif;-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);
-moz-box-shadow:    2px 2px 5px 0px rgba(0, 0, 0, 0.19);
box-shadow:         2px 2px 5px 0px rgba(0, 0, 0, 0.19);}
.video-container .video_content .order_btn a{width: 100%;float: left; line-height: 51px;background: #fff;font-size: 16px;font-weight: 700;color: #000;}
.video-container .video_content .order_btn a:hover{background: #028cc5;color: #fff;}
.fixed {position: fixed!important;top:0; left:0;width: 100%; z-index: 111111!important;background:#fff!important;box-shadow: 0 3px 5px 0 rgba(50, 50, 50, .4);/*-webkit-animation: fadeInDown 1s both;
animation: fadeInDown 1s both;*/}
 .header_menu{width: auto;display: inline-block;}
 .header_menu ul{width: auto;float: left;}
.header_menu ul li{width: auto;display: inline-block;vertical-align: middle;font-size: 16px;text-transform: uppercase;padding-right: 60px;position: relative;}
.header_menu ul li:last-child{padding-right: 0;}
.header_menu ul li a{color: #fff;font-weight: 600;width: auto;display: inline-block;vertical-align: middle;padding: 40px 0 39px 0px;}
.header_menu ul li a:hover{color:#009fe1;}
.header_menu ul li.current-menu-item a{color:#009fe1;}
.header_menu ul li.current-menu-item a:after{content: "";position: absolute;left: 0;bottom: 28px;width: 24px;height: 2px;background: #009fe1;}
.header_menu ul li:hover a:after{content: "";position: absolute;left: 0;bottom: 28px;width: 24px;height: 2px;background: #009fe1;}
.header_menu ul li ul{border-bottom: 5px solid  #009fe1;

background-color: rgba(0, 0, 0, 0.7);

width: 262px;

z-index: 99;

-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .23);

-moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .23);

box-shadow: 0 0 10px 0 rgba(0, 0, 0, .23);

opacity: 0;

filter: alpha(opacity=0);

-khtml-opacity: 0;

-webkit-transform: translateY(30px);

-moz-transform: translateY(30px);

transform: translateY(30px);

transition: all .5s ease-in-out 0s;

-webkit-transition: all .5s ease-in-out 0s;

-moz-transition: all .5s ease-in-out 0s;

backface-visibility: hidden;}

.header_menu ul li ul{position: absolute;top:97px;margin-top: 0;visibility: hidden;}

.header_menu ul li:hover > ul {

    left: auto;
    opacity: 1;
    visibility: visible;

filter: alpha(opacity=100);

-khtml-opacity: 1;

-webkit-transform: translateY(0);

-moz-transform: translateY(0);

transform: translateY(0);

backface-visibility: visible;

}
.header_menu ul li ul li{width: 100%;float: left;text-align: left;font-size: 15px;padding: 12px 15px;}
.header_menu ul li ul li a{padding: 0;}
.header_menu ul li ul li a:hover{padding-left: 7px;}
.header_menu ul li:hover ul li a::after{width: 0;}
header .header_bottom .header_right{width: auto;float: right;margin-top: 40px;}
header .header_bottom .header_right .search_bar{width: auto;float: left}
.openBtn {
  background: none;
  border: none;
  cursor: pointer;
}



.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  height: 59px;
  font-size: 17px;
  border: none;
  float: left;
  width: 90%;
  background: white;
  padding: 0 20px;
  font-family: 'Open Sans', sans-serif;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 10%;
  padding: 19px;
  background: #028cc5;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}
header .header_bottom .header_right .search_bar .icon-search{display: none;}
.search-submit{background: none!important;}


header .header_bottom .header_right .user{width: auto;display: inline-block;margin-left: 25px;}
header .header_bottom .header_right .header_cart{width: auto;display: inline-block;margin-left: 20px;}


.home_product{width: 100%;float: left;margin-top: 4px;}
.home_product ul{width: 100%;float: left;display: flex;flex-wrap: wrap;display: -ms-flexbox !important;justify-content: flex-start;}
.home_product ul li{width: 19.76%;float: left;position: relative;margin-right: 0.3%;}
.home_product ul li figure{width: 100%;display: table;table-layout: fixed;vertical-align: middle;text-align: center;padding: 64px 0 20px 0;}
.home_product ul li figure span{width: 100%;display: table-cell;vertical-align: middle;text-align: center;height: 325px;}
.home_product ul li figure span img{width: auto;display: inline-block;vertical-align: middle;text-align: center;max-height: 100%;}
.home_product ul li:hover .back{opacity: 1;} 
.home_product ul li:last-child{margin-right: 0;}
.home_product ul li .front{width: 100%;float: left;}
.home_product ul li .front h2{width: 100%;float: left;text-align: center;padding: 17px 0;background: #000;font-size: 22px;font-weight: 600;color: #fff;}
.home_product ul li .front .image{width: 100%;float: left;display: block;}
.home_product ul li .back{width: 100%;float: left;position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%;
  width: 100%;  opacity: 0;  transition: .5s ease;  background-color: #028cc5;padding: 0 42px;}
.home_product ul li .back .pro_desc{color: white;font-size: 20px;text-align: center;width: 100%;float: left;margin-top: 52px;}
.home_product ul li .back .pro_desc h2{width: 100%;float: left;font-size: 22px;margin-bottom: 30px;line-height: 30px;}
.home_product ul li .back .pro_desc p{word-break: 100%;float: left;text-align: center;font-size: 15px;line-height: 25px;}
.home_product ul li .back .pro_desc .order_btn{width: 180px;display: inline-block;height: 51px;margin-top: 42px;font-family: 'Open Sans', sans-serif;
-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);}
.home_product ul li .back .pro_desc .order_btn a {width: 100%;float: left;line-height: 51px;background: #fff;font-size: 16px;font-weight: 700;
color: #000;}
.home_product ul li .back .pro_desc .order_btn a:hover {background: #000;color: #fff;}

.home_services{width: 100%;float: left;padding: 87px 0 106px 0;}
.home_services h2{width: 100%;float: left;font-size: 30px;color: #000;font-weight: 600;margin-bottom: 24px;}
.home_services span{width: 100%;float: left;color: #4c4c4c;font-size: 18px;font-weight: 600;}
.home_services ul{width: 100%;float:left;margin-top: 72px;display: flex;flex-wrap: wrap;display: -ms-flexbox !important;justify-content: flex-start;margin-bottom: 84px;}
.home_services ul li{width: 210px;margin-right: 37px;display: inline-block;}
.home_services ul li figure{width: 100%;display: table-cell; vertical-align: middle;text-align: center;border-radius: 50%;}
.home_services ul li figure span{width: 100%;display: table-cell;vertical-align: middle;text-align: center;height: 87px;}
.home_services ul li figure span img{width: auto;display: inline-block;vertical-align: middle;text-align: center;max-height: 100%;}
.home_services ul li:last-child{margin-right: 0px;}
.home_services .service_img_hover{display: none;}
.home_services ul li .circle{width: 174px;height: 174px;display: table;table-layout: fixed;text-align: center;vertical-align: middle;margin: 0 auto;border: 2px solid #028cc5;border-radius: 50%;}
.home_services ul li h3{width: 100%;float: left;text-align: center;font-size: 17px;font-weight: 600;line-height: 25px;margin-top: 25px;}
.home_services ul li:hover figure{background-image: linear-gradient(to right top, #7846bb, #5b5eca, #3b71d2, #1881d4, #0a8fd1);}
.home_services ul li:hover .service_img{display: none;}
.home_services ul li:hover .service_img_hover{display: inline-block!important;}

.order_btn{width: 180px;display: inline-block;height: 51px;font-family: 'Open Sans', sans-serif;-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);
-moz-box-shadow:    2px 2px 5px 0px rgba(0, 0, 0, 0.19);
box-shadow:         2px 2px 5px 0px rgba(0, 0, 0, 0.19);text-transform: uppercase;}

.order_btn a{width: 100%;float: left; line-height: 51px;background: #028cc5;font-size: 16px;font-weight: 700;color: #fff;}
.order_btn a:hover{background: #000;color: #fff;}
.video_section{width: 100%;float: left;background: #f5f5f5;padding: 104px 0 113px 0;}
.video_section .video{width: 633px;float: left;border: 20px solid #333333;border-radius: 9px;-webkit-box-shadow: 0px 31px 30px 0px rgba(0, 0, 0, 0.55);
-moz-box-shadow:    0px 31px 30px 0px rgba(0, 0, 0, 0.55);box-shadow:0px 31px 30px 0px rgba(0, 0, 0, 0.55);}
.video_section .video iframe{width: 100%;float: left;}
.video_section .video_content{width: 488px;float: right;}
.video_section .video_content h2{width: 100%;float: left;text-align: left;font-size: 32px;font-weight: 600;margin-bottom: 25px;line-height: 35px;}
.video_section .video_content p{width: 100%;float: left;text-align: left;color: #4d4d4d;font-size: 18px;font-weight: 300;line-height: 33px;margin-bottom: 30px;}

.home_featured{width: 100%;float: left;padding: 90px 0 70px 0;}
.home_featured h2{width: 100%;float: left;text-align: left;font-size: 30px;font-weight: 600;margin-bottom: 43px;}

.home_featured #featured{width: 100%;float: left;}
.home_featured #featured .added_to_cart{margin-top: 5px;}
.home_featured #featured li{width: 100%;float: left;}
.home_featured #featured .featured-img{width: 100%;float: left;}
.home_featured #featured .featured-img figure{width: 100%;display: table;table-layout: fixed;vertical-align: middle;text-align: center;border-bottom: 1px solid #b6b6b6;}
.home_featured #featured .featured-img figure span{width: 100%;display: table-cell;vertical-align: middle;text-align: center;height: 176px;}
.home_featured #featured .featured-img figure span img{width: auto;display: inline-block;vertical-align: middle;text-align: center;max-height: 100%;}
.home_featured .featured-content{width: 100%;float: left;margin-top: 32px;}
.home_featured .featured-content .featured-title{width: 100%;float: left;text-align: center;font-size: 16px;font-weight: 600;text-transform: uppercase;color: #000000;}
.home_featured .featured-content .featured-price{width: 100%;float: left;text-align: center;font-size: 22px;font-weight: 600;margin-top: 40px;margin-bottom: 40px;}

.add_cart_btn{width: 180px;display: inline-block;height: 40px;font-family: 'Open Sans', sans-serif;-webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
-moz-box-shadow:    -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
box-shadow:         -2px 4px 5px 0px rgba(0, 0, 0, 0.19);text-transform: uppercase;height: 40px;position: relative;left: 0;
bottom: 20px;right: 0;margin-left: auto;margin-right: auto;}

.add_cart_btn a{width: 100%;float: left; line-height: 40px;background: #028cc5;font-size: 16px;font-weight: 700;color: #fff;}
.add_cart_btn a:hover{background: #000;color: #fff;}

.home_featured .owl-nav{display: block!important;position: absolute;top: -70px;right: 0;}
.home_featured .owl-nav .owl-prev{font-size: 0;background: url('../images/lft_arrow.png')no-repeat;width: 11px;height: 19px;position: absolute;right: 40px;}
.home_featured .owl-nav .owl-next{font-size: 0;background: url('../images/rgt_arrow.png')no-repeat;width: 11px;height: 19px;position: absolute;right: 0;}
.home_featured .featured_border{width: 100%;float: left;border: 1px solid #b6b6b6;}

.our_client{width: 100%;float: left;padding: 103px 0 90px 0;background: #f5f5f5;}
.our_client h2{width: 100%;float: left;text-align: left;font-size: 42px;font-weight: 600;line-height: 48px;position: relative;}
.our_client h2:after{position: absolute;content: "";top:0;right: 0;background: url('../images/client.png');height: 147px;width: 24px;}
.our_client .client_lft{width: 300px;float: left;}
.our_client .client_rgt{width: 767px;float: right;position: relative;}
.our_client .client_rgt:before{content: ""; float: left; background: url('../images/testimonial.png'); width: 32px;height: 21px;margin-left: -70px;margin-top: 10px;}
.our_client .client_rgt p{width: 100%;float: left;text-align: left;font-size: 16px;color: #000;font-style: italic;line-height: 30px;margin-bottom: 25px;}
.our_client .client_rgt p:last-child{margin-bottom: 0!important;}
.our_client .client_rgt span{width: 100%;float: left;text-align: left;color:#028cc5;font-size: 16px;font-weight: 600;font-style: normal;}
.header-top-mobile{display: none;width: 100%;float: left;}
.sticky_logo{display: none;}
.header_bottom.fixed .sticky_logo{display: block!important;}
.header_bottom.fixed .normal_logo{display: none;}
.header_bottom.fixed .header_menu ul li a{color: #009fe1;}
.header_bottom.fixed .header_menu ul li.current-menu-item a{color: #000;}
.header_bottom.fixed .header_menu ul li.current-menu-item a:after{background: #000;}
.header_bottom.fixed .header_menu ul li a:hover{color: #000;}
.header_bottom.fixed .header_menu ul li:hover a::after{background: #000;}
.sticky_search{display: none;}
.header_bottom.fixed .sticky_search{display: block!important;}
.header_bottom.fixed .normal_search{display: none;}

.sticky_user{display: none;}
.header_bottom.fixed .sticky_user{display: block!important;}
.header_bottom.fixed .normal_user{display: none;}

.sticky_cart{display: none;}
.header_bottom.fixed .sticky_cart{display: block!important;}
.header_bottom.fixed .normal_cart{display: none;}

.header_bottom.fixed .header_menu ul li ul{background: #fff;}
.mob-nav ul{display: none;}

.common_header header{height: auto!important;width: 100%;float: left;}
footer{
  padding: 72px 0px 35px 0; 
  width: 100%;
  float: left; 
  border-top:1px solid #d9d9d9;
}
.footer-main{
  width:100%;
}
/*---footer-menu----*/
.footer-menu{
    display:inline-block;
    width:15%;
    vertical-align:top;
}
.footer-menu li{
  list-style-type:none;
}
.footer-menu .footer-list{width: 100%;float: left;}
.footer-menu .footer-list ul{
  margin:0;
  padding:0;
  list-style-type: none; 
  width: 100%;float: left;
}
.footer-menu .footer-list ul li{
  padding:8px 0px; 
  width: 100%;float: left;text-align: left;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 18px;
}
.footer-menu .footer-list ul li a{
  text-decoration: none;
  color:#000000; 
  font-weight: 600;
}
.footer-menu .footer-list ul li a:hover{color:#009fe1;padding-left: 7px;}


/*---footer-location----*/
.footer-location{
    display:inline-block;
    width:55%;
    vertical-align:top;
}
.footer-location li{
  list-style-type:none;
}
.footer-location .footer-img-sec{
  width:40%;
  display: inline-block;
}
.footer-location .location{
    display:inline-block;
    width:55%;
    vertical-align:top;
    padding:0px 30px;
    text-align: left;
}
.footer-location .location .address{
   font-size: 17px;
   margin: 15px 0px;
   line-height:28px;
}
.footer-location .footer-contact ul{
  margin:0;
  padding: 0;
  list-style-type: none;
}
.footer-location .footer-contact ul li{
  display:inline-block;
  width:100%;
  margin:10px 0px;
}
.footer-location .footer-contact ul li .phone-img{
  float: left;
  width:10%;
}
.footer-location .footer-contact ul li .phone-number{
  float: left;
  width:80%;
  font-size: 15px;font-weight: 600;
}
.footer-location .footer-contact ul li .email-img{
  float: left;
  width:10%;
}
.footer-location .footer-contact ul li .email-id{
   float: left;
  width:80%; 
}
.footer-location .footer-contact ul li .email-id a{color: #000;font-weight: 600;}
.footer-location .footer-contact ul li .email-id a:hover{color:#009fe1;}


.footer-location .footer-social-icon{
    margin-top:30px;
    width: 100%;float: left;
}
.footer-contact{width: 100%;float: left;margin-top: 20px;}
.footer-location .footer-social-icon ul{
  margin:0;
  padding:0;
  list-style-type: none; 
}
.footer-location .footer-social-icon ul li{
   display:inline-block;
   margin:0px 5px;
   vertical-align: middle;
}
.footer-location .footer-social-icon ul li span{
  font-size:15px;
}
.footer-location .footer-social-icon ul li:first-child{
  margin-left:0px;
}
.footer-location .loc-title{
  font-weight: bold;
  font-size:14px;
  color:#000; 
}
.footer-location .loc-details{
  font-size:14px;
  color:#000; 
  line-height:28px; 
  margin:12px 0px;
}

/*---footer-subscribe----*/
.footer-subscribe{
    width:29%;
    display:inline-block;
    vertical-align: top;
}
.footer-subscribe li{
  list-style-type:none;
  width: 100%;float: left;
  text-align: left;
}
.footer-subscribe h2{
  font-weight: 700;
  font-size: 14px;
  width: 100%;float: left;
  text-align: left;
  text-transform: uppercase;
}
.footer-subscribe .mailpoet_paragraph .mailpoet_text{
   border-bottom:2px solid #000!important; 
   width:100% !important;
   padding:15px 0px; 
   background: transparent;
   font-size: 14px;
   font-family: 'Open Sans', sans-serif;
   border: none;
}
.footer-subscribe .mailpoet_paragraph{
  position: relative;
  margin-top:40px;
}
.footer-subscribe .mailpoet_paragraph .mailpoet_submit{
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom:50px;
  background-image: url('../images/subscribe-btn.png');
  background-repeat: no-repeat;
  background-position: center right;
  color: transparent;
  background-color: transparent;
}


.footer-subscribe .footer-client-img{
  margin-top:45px;
}
.footer-subscribe .footer-client-img ul{
  padding:0;
  margin:0;
  list-style-type: none;
}
.footer-subscribe .footer-client-img ul li{
  display: inline-block;
  width:auto;
  vertical-align: top;
  margin-right: 65px;
}
.footer-subscribe .footer-client-img ul li:last-child{margin-right: 0;}

/*---footer-site---*/
.site-info{
  display:block;
  text-align:center;
  margin-top:35px;
  width: 100%;float: left;font-size: 13px;
  color:#4c4c4c;
}
.site-info a:hover{color:#009fe1;}
#mailpoet_form_1 .mailpoet_form{width: 100%;float: left;}


.product-category{width: 100%;float: left;padding: 32px 0 74px 0;} 
.woocommerce header{height: 100%!important;}
.woocommerce .woocommerce-breadcrumb a{text-transform: capitalize;color:#028cc5!important;position: relative;padding-right: 25px;}
.woocommerce .woocommerce-breadcrumb a:after{content:"";position: absolute;top:8px;right:7px;background: url('../images/breadcrumb.png');width: 5px;height: 7px;}
.woocommerce-breadcrumb{width: 100%;float: left;text-align: left;color:#5e5f60;text-transform: capitalize;font-family: 'Open Sans', sans-serif;font-size: 14px;margin-bottom: 32px!important;}
.product-category .woocommerce-products-header{width: 100%;float: left;text-align: left;}
.product-category .woocommerce-products-header h1{width: 100%;float: left;text-align: left;font-size: 30px;font-weight: 600;color: #000;text-transform: uppercase;margin-bottom: 24px;}
.product-category .woocommerce-result-count{display: none;}
.product-category .woocommerce-ordering{width: auto;float: left;font-family: 'Open Sans', sans-serif;}
.product-category .woocommerce-ordering span{color:#5e5f60;width: auto;display: inline-block;font-size: 14px;}
.product-category .woocommerce-ordering select{width: 146px;height: 36px;display: inline-block;vertical-align: middle!important;font-family: 'Open Sans', sans-serif;background: #efefef url('../images/select_arrow.png')no-repeat;padding: 0 13px 0 5px;background-position: right 15px bottom 15px;margin-left: 3px;text-transform: capitalize;}
.product-category .woocommerce-pagination{width: auto;float: right;}
.product-category .woocommerce-pagination .next{display: none;}
.product-category .woocommerce-pagination ul{border: none!important;position: relative;margin-right: 25px!important;}
.product-category .woocommerce-pagination ul:before{position: absolute;content: "";background: url('../images/pagination_lft.png')no-repeat;width: 6px;height: 9px;top:12px;left: -15px;}
.product-category .woocommerce-pagination ul:after{position: absolute;content: "";background: url('../images/pagination_rgt.png')no-repeat;width: 6px;height: 9px;top:12px;right: -15px;}
.product-category .woocommerce-pagination ul li{border-right: none!important;padding: 0!important;margin-left: 10px!important;}
.product-category .woocommerce-pagination ul li:first-child{margin-left: 0!important;}
.product-category .woocommerce-pagination ul li span.current{background: none!important;color:#028cc5!important;}
.product-category .woocommerce-pagination ul li:last-child{display: none;}
.product-category .woocommerce-pagination ul li a{color:#5e5f60;}
.product-category .woocommerce-pagination ul li a:focus{background: none!important;}
.product-category .woocommerce-pagination ul li a:hover{background: none!important;}
.product-category ul.products{width: 100%;float: left;margin-bottom: 20px!important;}
.product-category ul.products li{width: 265px;float: left;margin-right: 44px;margin-bottom: 60px;}
.product-category ul.products li:nth-child(4n){margin-right: 0px;}
.product-category ul.products li .woocommerce-loop-product__title{width: 100%;float: left;font-size: 16px;font-weight: 600;text-transform: uppercase;margin-top: 32px!important;padding: 0!important;}
.product-category ul.products li .price{width: 100%;float: left;font-size: 22px!important;font-weight: 600;color: #000!important;margin-top: 50px;margin-bottom: 0!important;}
.product-category ul.products li .add_to_cart_button{width: 180px;display: inline-block;height: 40px;font-family: 'Open Sans', sans-serif;
-webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);-moz-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
text-transform: uppercase;height: 40px;position: relative;left: 0;bottom: -20px;right: 0;margin-left: auto;margin-right: auto;margin-top: 0!important;line-height: 21px;background: #028cc5;
font-size: 16px;font-weight: 700;color: #fff;border-radius: 0;}
.product-category ul.products li .add_to_cart_button:hover{background: #000;}
.product-category ul.products li .featured_border{width: 100%;float: left;border: 1px solid #b6b6b6;}
.product-category ul.products li figure{width: 100%;display: table;table-layout: fixed;vertical-align: middle;text-align: center;}
.product-category ul.products li figure span{width: 100%;display: table-cell;vertical-align: middle;text-align: center;height: 176px;}
.product-category ul.products li figure span img{width: auto;display: inline-block;vertical-align: middle;text-align: center;max-height: 100%;}
.product-category ul.products li .added_to_cart{width: 180px;

display: inline-block;

height: 40px;

font-family: 'Open Sans', sans-serif;

-webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);

-moz-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);

box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);

text-transform: uppercase;

height: 40px;

position: relative;

left: 0;

bottom: -20px;

right: 0;

margin-left: auto;

margin-right: auto;

margin-top: 0 !important;

line-height: 23px;

background: #000;

font-size: 16px;

font-weight: 700;

color: #fff;

border-radius: 0;

margin-top: 10px !important;}

.product-category ul.products li .added_to_cart:hover{background: #028cc5;}
.product-category .term-description{width: 100%;float: left;margin-top: 60px;}
.product-category .term-description p{width: 100%;float: left;font-size: 15px;color: #000;line-height: 25px;color: #4c4c4c;text-align: left;}
.product-category .woocommerce-products-header h2{width: 100%;float: left;font-size: 20px;margin-bottom: 36px;}
.product-category .woocommerce-info{width: 100%;float: left;}


select::-ms-expand {
    display: none;
    text-indent: 0.01px;
    text-overflow: '';
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.single-product .woocommerce-breadcrumb{display: none;}
.single-product .product-datail .woocommerce-breadcrumb{display: block!important;font-size: 14px!important;}

.product-datail{width: 100%;float: left;margin:33px 0 0 0;padding-bottom: 50px;}
.product-datail .woocommerce-product-gallery{width: 600px;float: left;}
.product-datail .summary{width: 512px;float: right;}
.product-datail .woocommerce-notices-wrapper{width: 100%;float: left;}
.product-datail .product{width: 100%;float: left;}
.product-datail .woocommerce-product-gallery__trigger{display: none;}

/*.product-datail .detail-tabs{width:100%; float: left; padding:0; text-align:left; background:#f6f6f6; border-top:1px solid #e9e9e9; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; border:2px solid #e9e9e9; margin-top: 41px; margin-bottom: 50px;}
.product-datail .r-tabs .r-tabs-nav .r-tabs-state-disabled {opacity: 0.5;}
.product-datail .r-tabs .r-tabs-accordion-title .r-tabs-anchor {display:block; text-align: left; padding:10px; font-size:16px; color:#fff; text-decoration: none; background: #444 url(../images/plus.png) no-repeat 97% center; background-size:12px auto;}
.product-datail .r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {opacity: 0.5;}
.product-datail .r-tabs .r-tabs-tab{display:inline-block; margin:0; padding:0; list-style:none;}
.product-datail .r-tabs .r-tabs-tab:first-child{margin:0 0 0 20px;}
.product-datail .r-tabs .r-tabs-panel{float:left; width:100%; display:none; text-align:left; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; background: #fff; padding: 39px 52px 40px 52px }
.product-datail .r-tabs .r-tabs-accordion-title{display: none;}
.product-datail .r-tabs .r-tabs-panel.r-tabs-state-active {display: block;}
.product-datail .r-tabs {float:left; width:100%; padding:0; position:relative;}
.product-datail .r-tabs .r-tabs-nav{z-index:9999;float: left; width:100%; border-bottom: 1px solid #e9e9e9; padding:23px 0 0 0;}
.product-datail .r-tabs .r-tabs-nav .r-tabs-tab{position: relative; top:0;float: left;}
.product-datail .r-tabs-tab .r-tabs-anchor{cursor:pointer;border:1px solid transparent;  padding:20px 13px 17px 30px; border:1px solid transparent; display:block; border-bottom:none; border-radius:6px 6px 0 0; font-size:20px; font-weight:400; color:#000;font-family: 'Open Sans', sans-serif; letter-spacing: 0;}
.product-datail .r-tabs-tab.r-tabs-state-active .r-tabs-anchor{ cursor:pointer; background:none; color:#028cc5; border-top-color: #e8e8e8 !important; border:1px solid #f1f1f1; border-bottom:none; display:block; cursor:default; border-bottom:none; position:relative; background:#fff;}
.product-datail.r-tabs-tab.r-tabs-state-active .r-tabs-anchor:after{width:100%; float:left; content:''; background:#fff; bottom:-1px; left:0; height:1px; position:absolute;}
.product-datail .r-tabs-anchor > span{margin:0 15px 0 0;}*/


.detail-tabs{width:100%; float: left; padding:0; text-align:left; background:#f6f6f6; border-top:1px solid #e9e9e9; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; border:2px solid #e9e9e9; margin-top: 20px; margin-bottom: 50px;}
.r-tabs .r-tabs-nav .r-tabs-state-disabled {opacity: 0.5;}
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {display:block; text-align: left; padding:10px; font-size:16px; color:#fff; text-decoration: none; background: #444 url(../images/plus.png) no-repeat 97% center; background-size:12px auto;}
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {opacity: 0.5;}
.r-tabs .r-tabs-tab{display:inline-block; margin:0; padding:0; list-style:none;}
.r-tabs .r-tabs-tab:first-child{margin:0 0 0 20px;}
.r-tabs .r-tabs-panel{float:left; width:100%; display:none; text-align:left; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; background: #fff; padding: 39px 52px 40px 52px }
.r-tabs .r-tabs-accordion-title{display: none;}
.r-tabs .r-tabs-panel.r-tabs-state-active {display: block;}
.r-tabs {float:left; width:100%; padding:0; position:relative;}
.r-tabs .r-tabs-nav{z-index:9999;float: left; width:100%; border-bottom: 1px solid #e9e9e9; padding:23px 0 0 0;}
.r-tabs .r-tabs-nav .r-tabs-tab{position: relative; top:0;float: left;}
.r-tabs-tab .r-tabs-anchor{cursor:pointer;border:1px solid transparent;  padding:20px 13px 17px 30px; border:1px solid transparent; display:block; border-bottom:none; border-radius:6px 6px 0 0; font-size:20px; font-weight:400; color:#000;font-family: 'Open Sans', sans-serif; letter-spacing: 0;}
.r-tabs-tab.r-tabs-state-active .r-tabs-anchor{ cursor:pointer; background:none; color:#272a64; border-top-color: #e8e8e8 !important; border:1px solid #f1f1f1; border-bottom:none; display:block; cursor:default; border-bottom:none; position:relative; background:#fff;}
.r-tabs-tab.r-tabs-state-active .r-tabs-anchor:after{width:100%; float:left; content:''; background:#fff; bottom:-1px; left:0; height:1px; position:absolute;}
.r-tabs-anchor > span{margin:0 15px 0 0;}

.main-tabs-box{float: left; width: 100%;}
.main-tabs-box h4{ font-size: 20px; color: #000;font-family: 'Open Sans', sans-serif; font-weight: 600; letter-spacing: 0; margin-bottom: 23px;}
.main-tabs-box ul{float: left; width: 100%;}
.main-tabs-box p{font-size: 15px;font-family: 'Open Sans', sans-serif; letter-spacing: 0; color: #000; margin-bottom: 16px; line-height: 20px;}
.main-tabs-box p:last-child{margin-bottom: 0;}
.main-tabs-box p.red{color: #d1202d;}
.main-tabs-box ul li{ font-size: 16px; color: #4c4c4c;font-family: 'Open Sans', sans-serif; line-height: 28px;}
.main-tabs-box .woocommerce-Reviews-title{display: none;}
.main-tabs-box #reviews{font-size: 16px; color: #4c4c4c;font-family: 'Open Sans', sans-serif; line-height: 28px;}
.woocommerce .main-tabs-box #reviews #review_form #respond textarea {width: 100%;float: left;height: 148px;border: #c8c9c6 solid 1px;font-family: 'Poppins', sans-serif;letter-spacing: 0.070em;font-weight: 400;
font-size: 14px;text-transform: uppercase;color: #7a868f;margin-bottom: 5px;padding: 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.woocommerce .main-tabs-box #reviews #review_form #respond #submit{width: auto;float: left;background: #267bc9;font-family: 'Poppins', sans-serif;font-weight: 700;color: #fff;font-size: 14px;height: 45px;margin-top: 18px;text-transform: uppercase;letter-spacing: 0.070em; padding: 0 20px; line-height: 49px; border-radius:0;}
.woocommerce .main-tabs-box #reviews #review_form #respond #submit:hover{background: #d1202d;}





.product-datail .related{width: 100%;float: left;}
.product-datail .featured-products{width: 100%;float: left;}
.product-datail .summary .product_title{width: 100%;float: left;text-align: left;font-size: 30px;text-align: left;font-weight: 600;text-transform: uppercase;}
.product-datail .summary .product_meta{width: 100%;float: left;text-align: left;}
.product-datail .summary .posted_in{display: none;}
.product-datail .summary .sku_wrapper{width: 100%;float: left;text-align: left;font-size: 16px;margin-top: 25px;}
.product-datail .summary .price{width: 100%;float: left;text-align: left;color: #028cc5!important;font-size: 25px!important;font-weight: 600;margin-top: 30px;font-family: 'Open Sans', sans-serif;margin-bottom: 25px;}
.product-datail .summary .price .piecs{width: auto;color: #000;font-size: 18px;font-weight: normal;}
.product-datail .summary .price .mrp{display: none;}
.product-datail .summary .variations_form{width: 100%;float: left;text-align: left;margin-top: 25px;}
.product-datail .summary .variations_form label{width: auto;float: left;font-size: 16px;font-weight: normal!important;margin-top: 5px;}
.product-datail .summary .variations_form .label{width: auto;float: left;font-size: 16px;font-weight: normal!important;padding-right: 0!important;width: 30px;}
.product-datail .summary .variations_form .value{float: left;}
.product-datail .summary .variations_form select{width: 215px!important;float: left;height: 46px;min-width: auto!important;margin-left: 15px;margin-right: 0!important;font-family: 'Open Sans', sans-serif;font-size: 16px;
background:#efefef url('../images/select_arrow.png')no-repeat;padding-left: 10px;background-position: right 20px center;}
.product-datail .summary .single_variation_wrap{width: 100%;float: left;}
.product-datail .summary .woocommerce-variation{width: 100%;float: left;}
.product-datail .woocommerce-variation-add-to-cart{width: 100%;float: left;margin-top: 30px;}
.product-datail .quantity{width: 95px;height: 60px;background: #efefef;line-height: 60px;margin-right: 15px!important;}
.product-datail .quantity .qty{background: none;width: 100%!important;float: left;text-align: center;line-height: 60px;font-size: 16px;font-family: 'Open Sans', sans-serif;}
.product-datail .quantity .minus{display: none;}
.product-datail .quantity .plus{display: none;}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
.product-datail .summary .single_add_to_cart_button{width: 400px!important;height: 58px;border-radius: 0;font-size: 18px;
font-weight: 700;text-transform: uppercase;font-family: 'Open Sans', sans-serif;margin-top: -15px; webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
-moz-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
background:#028cc5 url('../images/cart.png')no-repeat!important;background-position: left 115px center !important;}
.product-datail .summary .single_add_to_cart_button:hover{background:#000 url('../images/cart.png')no-repeat!important;background-position: left 115px center !important;}
.product-datail .r-tabs .r-tabs-panel h4{width: 100%;float: left;text-align: left;font-size: 22px;color: #000;margin-bottom: 25px;}
.product-datail .r-tabs .r-tabs-panel p{width: 100%;float: left;text-align: left;color: #4c4c4c;line-height: 27px;}
.product-datail .r-tabs .r-tabs-nav .r-tabs-state-active{border-bottom: 1px solid #fff;margin-bottom: -1px;}
.product-datail .summary .cart{width: 100%;float: left;}

.product-datail .related{width: 100%;float: left;margin-top: 15px;} 
.product-datail .related h2{width: 100%;float: left;text-align: left;font-size: 24px;font-weight: 600;margin-bottom: 38px;}

#featured li{width: 100%;float: left;margin-bottom: 30px;}
#featured .featured-img{width: 100%;float: left;}
#featured .featured-img figure{width: 100%;display: table;table-layout: fixed;vertical-align: middle;text-align: center;border-bottom: 1px solid #b6b6b6;}
#featured .featured-img figure span{width: 100%;display: table-cell;vertical-align: middle;text-align: center;height: 176px;}
#featured .featured-img figure span img{width: auto;display: inline-block;vertical-align: middle;text-align: center;max-height: 100%;}
#featured .featured-content{width: 100%;float: left;margin-top: 32px;}
#featured .featured-content .featured-title{width: 100%;float: left;text-align: center;font-size: 16px;font-weight: 600;text-transform: uppercase;color: #000000;}
#featured .featured-content .featured-price{width: 100%;float: left;text-align: center;font-size: 22px;font-weight: 600;margin-top: 40px;margin-bottom: 40px;}

.add_cart_btn{width: 180px;display: inline-block;height: 40px;font-family: 'Open Sans', sans-serif;-webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
-moz-box-shadow:    -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
box-shadow:         -2px 4px 5px 0px rgba(0, 0, 0, 0.19);text-transform: uppercase;height: 40px;position: relative;left: 0;
bottom: 20px;right: 0;margin-left: auto;margin-right: auto;}

.add_cart_btn a{width: 100%;float: left; line-height: 40px;background: #028cc5;font-size: 16px;font-weight: 700;color: #fff;}
.add_cart_btn a:hover{background: #000;color: #fff;}

.product-datail .related #featured .owl-nav{display: block!important;position: absolute;top: -55px;right: 0;}
#featured .owl-nav .owl-prev{font-size: 0;background: url('../images/lft_arrow.png')no-repeat;width: 11px;height: 19px;position: absolute;right: 40px;}
#featured .owl-nav .owl-next{font-size: 0;background: url('../images/rgt_arrow.png')no-repeat;width: 11px;height: 19px;position: absolute;right: 0;}
#featured .featured_border{width: 100%;float: left;border: 1px solid #b6b6b6;}


.product-datail .recently-viewed{width: 100%;float: left;}
.product-datail .recently-viewed #related{width: 100%;float: left;}
.product-datail .recently-viewed h2{width: 100%;

float: left;

text-align: left;

font-size: 24px;

font-weight: 600;

margin-bottom: 38px;}


.product-datail .recently-viewed .featured_border{

    width: 100%;
    float: left;
    border: 1px solid #b6b6b6;

}

.product-datail #related .featured-img {

    width: 100%;
    float: left;

}
.product-datail #related.featured-img figure {

    width: 100%;
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #b6b6b6;

}

.product-datail #related .featured-img figure span {

    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 176px;

}
.product-datail #related  .featured-img figure span img {

    width: auto;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    max-height: 100%;

}
.product-datail #related .featured-content {

    width: 100%;
    float: left;
    margin-top: 32px;

}
.product-datail #related .featured-content .featured-title {

    width: 100%;
    float: left;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000000;

}
.product-datail #related.featured-content .featured-price {

    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;

}

.product-datail #related .owl-nav {

    display: block !important;
    position: absolute;
    top: -55px;
    right: 0;

}

.product-datail #related .owl-nav .owl-prev {

    font-size: 0;
    background: url('../images/lft_arrow.png')no-repeat;
    width: 11px;
    height: 19px;
    position: absolute;
    right: 40px;

}
.product-datail #related .owl-nav .owl-next {

    font-size: 0;
    background: url('../images/rgt_arrow.png')no-repeat;
    width: 11px;
    height: 19px;
    position: absolute;
    right: 0;

}
#related .featured-img figure {

    width: 100%;
    display: table;
    table-layout: fixed;
    vertical-align: middle;
    text-align: center;
    border-bottom: 1px solid #b6b6b6;

}


.related .add_cart_btn{ 
width: 180px;

display: inline-block;

height: 40px;

font-family: 'Open Sans', sans-serif;

-webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);

-moz-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);

box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);

text-transform: uppercase;

height: 40px;

position: relative;

left: 0;

bottom: 20px;

right: 0;

margin-left: auto;

margin-right: auto;}

.related .add_cart_btn a{
width: 100%;

float: left;

line-height: 40px;

background: #028cc5!important;

font-size: 16px;

font-weight: 700;

color: #fff!important;border-radius: 0!important;line-height: 23px!important;height: 40px!important;}

.related .add_cart_btn a:hover{background: #000!important;}
.related .added_to_cart{margin-top: 5px;}

#related .featured-content .featured-price {

    width: 100%;
    float: left;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 0px;

}

#related li {

    width: 100%;
    float: left;
    margin-bottom: 60px;

}

#related .add_cart_btn{ 
width: 180px;

display: inline-block;

height: 40px;

font-family: 'Open Sans', sans-serif;

-webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);

-moz-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);

box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);

text-transform: uppercase;

height: 40px;

position: relative;

left: 0;

bottom: -18px;

right: 0;

margin-left: auto;

margin-right: auto;}

#related .add_cart_btn a{
width: 100%;

float: left;

line-height: 40px;

background: #028cc5!important;

font-size: 16px;

font-weight: 700;

color: #fff!important;border-radius: 0!important;line-height: 23px!important;height: 40px!important;}

#related .add_cart_btn a:hover{background: #000!important;}
#related .added_to_cart{margin-top: 5px;}


.woocommerce-notices-wrapper .woocommerce-message{width: 100%;float: left;line-height: 35px;margin-bottom: 30px;}
.woocommerce-notices-wrapper .woocommerce-message .button{width: 150px;

display: inline-block;

height: 40px;

font-family: 'Open Sans', sans-serif;

-webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);

-moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);

box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.19);

text-transform: uppercase;

line-height: 23px;

background: #028cc5;

font-size: 16px;

font-weight: 700;
border-radius: 0!important;
color: #fff;}
.woocommerce-notices-wrapper .woocommerce-message .button:hover{background: #000!important;color: #fff;}



/****************cart************************/
.product-template-default header{height: auto!important;}
.woocommerce-cart-form {
  width: 100%;
  float: left
}

.woocommerce-cart-form .coupon {
  display: none
}

.woocommerce-cart .cart-wrapper .cart_totals .shop_table tr {
  border-bottom: 1px solid #ddd;
  width:100%;
}

.woocommerce-cart-form table.shop_table th {
  font-size: 17px
}

.woocommerce-cart-form .quantity .qty {
  background: 0 0;
  font-size: 15px;
  font-weight: normal;
  color: 000;
  background: #efefef;
  width: 80px;height: 40px;
}

.woocommerce-cart-form .minus {
  background: 0 0;
  font-size: 20px;
  font-weight: 500;
  color: #333a4b
}

.woocommerce-cart-form .plus {
  background: 0 0;
  font-size: 20px;
  font-weight: 500;
  color: #333a4b
}

.woocommerce-cart-form .button {
  background: #028cc5!important;
  font-size: 15px!important;
  font-weight: 600!important;
  color: #fff!important;
  height: 40px;
  border-radius: 0!important;
  text-transform: uppercase;
  float: right!important;
  font-family: 'Open Sans', sans-serif !important; 
}

.woocommerce-cart-form .button:hover {
  background: #000!important
}

.woocommerce-cart-form .product-thumbnail img {
  width: 60px!important
}

.woocommerce-cart-form .product-thumbnail a {
  width: auto;
  display: inline-block;
  text-align: center
}

.woocommerce-cart-form .quantity {
  margin-top: 20px
}

.cart_totals {
  width: 100%;
  float: left
}
.cart_totals h2{font-size: 28px;width: 100%;float: left;text-align: left;font-weight: 600;font-size: 28px;margin-bottom: 25px;text-transform: uppercase;} 

.cart_totals .shop_table_responsive {
  width: 100%;
  float: left;
  font-size: 17px;
}
.cart_totals .shop_table_responsive table.cart td a{text-transform: uppercase!important;}
.wc-proceed-to-checkout {
  width: 100%;
  float: right
}

.cart_totals .woocommerce-Price-amount {
  float: right;
  font-size: 17px
}

.cart_totals .woocommerce-shipping-totals ul li {
  background: 0 0!important;
  padding-left: 0!important;
  text-align: right!important;
  font-size: 17px!important
}

.cart_totals .woocommerce-shipping-destination {
  text-align: right!important;
  font-size: 17px!important
}

.cart_totals .shipping-calculator-button {
  float: right!important;
  font-size: 17px
}

.cart_totals a {
  color: #333a4b!important
}

.wc-proceed-to-checkout .button {
  width: 250px;
  float: right;
  background: #028cc5!important;
  color: #fff!important;
  text-transform: uppercase;
  line-height: 45px!important;
  border-radius: 0!important;
  padding: 0!important;
  height: 45px;
  font-size: 15px!important;
  margin-top: 10px!important
}
.wc-proceed-to-checkout .button:hover{background: #000!important;}
.post-type-archive-product header h2{display: none;}
.cart-wrapper{width: 100%;float: left;}
.cart-wrapper .content-area{margin-top: 0;}
.cart-wrapper h1{width: 100%;float: left;text-align: left;font-size: 30px;font-weight: 600;text-transform: uppercase;margin-bottom: 25px;}

.shipping-calculator-form {
  width: 100%;
  float: left
}

.shipping-calculator-form .form-row {
  width: 100%!important;
  float: right!important
}

.shipping-calculator-form p {
  margin-bottom: 0!important
}

.shipping-calculator-form .select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle
}

.select2-container--default .select2-selection--single {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0
}

.select2-selection--single .select2-selection__rendered {
  line-height: 33px!important;
  padding: 0!important
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #444
}

.select2-container--default .select2-selection--single,
.shop_table form .form-row input.input-text,
.shop_table form .form-row textarea {
  border: 1px solid #ccc!important;
  float: left;
  font-size: 15px;
  font-weight: 400;
  height: 35px!important;
  padding: 2px 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-sizing: border-box;
  border-radius: 3px!important;
  text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  top: 60%!important
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #535353!important
}

.shipping-calculator-form .button {
  width: 120px;
  float: left;
  background: #028cc5 !important;
  color: #fff!important;
  text-transform: uppercase;
  font-size: 15px!important;
  border-radius: 0!important;
  font-family: 'Open Sans', sans-serif !important;
}

.shipping-calculator-form .button:hover {
  background: #000!important
}

.shipping-calculator-form .form-row {
  margin-bottom: 12px!important;
  padding: 0!important
}

.select2-container--open .select2-dropdown--below {
  text-align: left!important
}

.return-to-shop .button {
  background: #028cc5!important;
  border-radius: 0!important;
  color: #fff!important;
  text-transform: uppercase;
  font-size: 15px!important;
  height: 40px;
  line-height: 22px!important
}

.return-to-shop .button:hover {
  background: #000!important
}

.woocommerce form.checkout_coupon {
  width: 100%;
  float: left;
  box-sizing: border-box
}

.woocommerce-form-coupon .form-row input.input-text {
  border: 1px solid #ccc!important;
  float: left;
  font-size: 15px;
  font-weight: 400;
  height: 35px!important;
  padding: 2px 15px;
  box-sizing: border-box;
  border-radius: 3px!important;
  width: 100%
}

.woocommerce-form-coupon .button {
  background: #028cc5!important;
  font-size: 15px!important;
  font-weight: 700!important;
  color: #fff!important;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  height: 45px;
  border-radius: 0!important;
  -webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
-moz-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
}

.woocommerce-error{width: 100%!important;float: left;text-align: left;}
.woocommerce-form-coupon .button:hover {
  background: #000!important
}

.woocommerce-error li {
  background: 0 0!important;
  padding-left: 0!important
}

.woocommerce-error::before {
  top: 15px!important
}

.woocommerce form.checkout_coupon {
  padding: 20px 20px 0 20px!important;
  margin: 0px 0 20px 0!important
}
.woocommerce form.checkout_coupon p{width: 100%;float: left;text-align: left;color: #4d4d4d;margin-bottom: 10px;}

.woocommerce-info {
  padding: 20px 56px!important
}

.woocommerce-error {
  padding: 15px 56px!important
}

.woocommerce-error li {
  margin-bottom: 0!important;
  line-height: 30px!important
}

.woocommerce-info::before {
  top: 20px!important
}
.woocommerce-cart-form .quantity .minus{display: none;}
.woocommerce-cart-form .quantity .plus{display: none;}
.content-area{width: 100%;float: left;margin-top: 30px;}
.shop_table{background: #fbfbfb;}
.cart-empty{width: 100%;float: left;margin-bottom: 30px!important;}

.return-to-shop{width: 180px;display: inline-block;height: 40px;font-family: 'Open Sans', sans-serif;-webkit-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);
-moz-box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);box-shadow: -2px 4px 5px 0px rgba(0, 0, 0, 0.19);text-transform: uppercase;
height: 40px;position: relative;left: 0;bottom: 20px;right: 0;margin-left: auto;margin-right: auto;margin-top: 10px;}
.return-to-shop .button{width: 100%;}

#customer_details {
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 30px
}

#customer_details.col2-set .col-1,
#customer_details.col2-set .col-2 {
  float: left;
  width: 48%
}

#customer_details.col2-set .col-1 {
  margin-right: 4%
}

.woocommerce form .form-row,
.woocommerce-LostPassword.lost_password {
  float: left;
  width: 100%;
  padding: 0;
  text-align: left;
  box-sizing: border-box
}

.checkout.woocommerce-checkout .form-row label {
  font-size: 17px;
  display: block;
  margin-bottom: 3px
}

.select2-container--default .select2-selection--single,
.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  border: 1px solid #ccc!important;
  float: left;
  font-size: 15px;
  font-weight: 400;
  height: 35px!important;
  padding: 2px 15px;
  box-sizing: border-box;
  border-radius: 3px!important
}

.woocommerce-billing-fields__field-wrapper p {
  margin-bottom: 0!important
}

#ship-to-different-address-checkbox {
  height: auto;
  width: auto;
  -webkit-appearance: checkbox
}

.woocommerce-billing-fields {
  width: 100%;
  float: left
}
.woocommerce-billing-fields h3{width: 100%;float: left;text-align: left;margin-bottom: 20px;}
.woocommerce-shipping-fields{width: 100%;float: left;}
.woocommerce-shipping-fields h3{margin-bottom: 20px;}

.woocommerce-billing-fields h3 {
  font-size: 21px!important;
  margin-bottom: 20px;
  font-weight: 700;
}

.woocommerce-shipping-fields h3 {
  font-size: 21px!important;
  font-weight: 700;
}

#ship-to-different-address-checkbox {
  margin-top: -5px
}

.woocommerce-shipping-fields__field-wrapper p {
  margin-bottom: 0!important
}

.woocommerce-additional-fields__field-wrapper #order_comments {
  height: 100px!important
}

#order_review_heading {
  font-size: 21px;
  width:100%;float: left;text-align: left;font-weight: 700;margin-bottom: 20px;
}
.woocommerce-privacy-policy-text{width: 100%;float: left;}
.woocommerce-privacy-policy-text p{width: 100%;float: left;text-align: left;color: #4d4d4d;font-size: 16px;font-weight: 300;
margin-bottom: 30px;}
.woocommerce table.shop_table {
  font-size: 16px;
  background: #f9f9f9
}

.woocommerce-shipping-totals ul li {
  background: 0 0!important;
  padding-left: 0!important
}

.woocommerce-checkout #payment {
  background: #ebe9eb;
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.woocommerce-checkout #payment ul.payment_methods li {
  background: 0 0!important;
  padding-left: 0!important
}

.woocommerce-checkout #payment div.payment_box {
  width: 100%;
  float: left;
  box-sizing: border-box
}

.woocommerce form .form-row .input-checkbox {
  height: auto;
  width: auto;
  -webkit-appearance: checkbox
}

.woocommerce-account-fields p {
  margin-bottom: 0!important
}
.woocommerce form.login {
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin-top: 0!important
}

.woocommerce form.login p {
  margin-bottom: 0!important
}

.woocommerce form .form-row label.inline {
  display: none!important
}

.woocommerce form.login .button {
  background: #333a4b!important;
  font-size: 15px!important;
  font-weight: 500;
  color: #fff!important;
  font-family: 'Brandon Grotesque';
  text-transform: uppercase;
  height: 40px;
  border-radius: 0!important;
  margin-top: 10px
}

.woocommerce form.login .button:hover {
  background: #000!important
}

.woocommerce-checkout #payment ul.payment_methods li input {
  height: auto;
  width: auto;
  -webkit-appearance: radio
}

.place-order button {
  background: #028cc5!important;
  font-weight: 700!important;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  height: 45px;
  border-radius: 0!important;
  font-size: 15px
}

.place-order button:hover {
  background: #000!important
}

.lost_reset_password {
  width: 100%;
  float: left
}

.lost_reset_password button {
  background: #333a4b!important;
  font-size: 15px!important;
  font-weight: 500;
  color: #fff!important;
  font-family: 'Brandon Grotesque';
  text-transform: uppercase;
  height: 45px;
  border-radius: 0!important
}

.lost_reset_password button:hover {
  background: #000!important
}

.woocommerce form.register {
  width: 100%!important;
  float: left;
  box-sizing: border-box;
  margin-top: 0!important
}

.woocommerce form.register p {
  margin-bottom: 0!important
}

.woocommerce form.register .button {
  background: #333a4b!important;
  font-size: 15px!important;
  font-weight: 500;
  color: #fff!important;
  font-family: 'Brandon Grotesque';
  text-transform: uppercase;
  height: 40px;
  border-radius: 0!important;
  margin-top: 10px
}

.woocommerce form.register .button:hover {
  background: #000!important
}

.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2 {
  float: left;
  width: 48%
}

.woocommerce .col2-set .col-1 {
  margin-right: 4%
}

.woocommerce-order {
  width: 100%;
  float: left
}
.woocommerce-order p{width: 100%;float: left;font-size: 22px;} 
.woocommerce-order ul {
  width: 100%;
  float: left;
}

.woocommerce-order ul li {
  background: 0 0!important;
  padding-left: 0!important
}
.woocommerce ul.order_details li{margin-top: 30px;}
.woocommerce-order ul li {
  width: 29%!important;
  font-size: 16px!important;
  text-align: center!important
}
.woocommerce ul.order_details li{border-right: 1px solid #d3ced2!important;}
.woocommerce-order ul li:last-child {
  margin-right: 0!important;
  padding-right: 0!important
}

.woocommerce ul.order_details li strong {
  font-size: 17px!important
}

.page-id-107 .woocommerce-table--order-details .product-total,
.page-id-107 .woocommerce-table--order-details tfoot td {
  text-align: right
}

.woocommerce-MyAccount-navigation {
  float: left;
  width: 25%
}

.woocommerce-MyAccount-navigation li {
  background: 0 0!important;
  padding-left: 0!important
}

.woocommerce-MyAccount-navigation ul {
  border: 1px solid #cfcbc8;
  float: left;
  width: 100%
}

.woocommerce-MyAccount-navigation ul li {
  border-bottom: 1px solid #cfcbc8;
  float: left;
  width: 100%;
  background: 0 0;
  padding-left: 0;
  margin-bottom: 0!important
}

.woocommerce-MyAccount-navigation ul li.is-active a {
  background: #333a4b;
  color: #fff;
  padding: 10px 15px;
  float: left;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 500
}

.woocommerce-MyAccount-navigation ul li a {
  background: #fcfcfc;
  padding: 10px 15px;
  float: left;
  width: 100%;
  color: #333a4b;
  text-transform: uppercase;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 500
}

.woocommerce-MyAccount-navigation ul li a:hover {
  background: #333a4b!important;
  color: #fff
}

.woocommerce-MyAccount-content {
  float: right;
  width: 73%
}

.woocommerce .woocommerce-customer-details address {
  float: left;
  box-sizing: border-box
}

.woocommerce .woocommerce-customer-details .col2-set .woocommerce-column address {
  background: #fce8ef;
  color: #333a4b;
  float: left;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
  box-sizing: border-box;
  width: 100%;
  line-height: 23px
}

.woocommerce .woocommerce-customer-details .col2-set .woocommerce-column address p {
  margin-bottom: 0!important;
  font-size: 15px
}

.woocommerce .woocommerce-customer-details .woocommerce-customer-details--email::before {
  line-height: 32px!important
}

.woocommerce table.my_account_orders .button {
  background: #333a4b;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Brandon Grotesque'!important
}

.woocommerce table.my_account_orders .button:hover {
  background: #000!important;
  color: #fff!important
}

.woocommerce table.my_account_orders {
  font-size: 17px!important
}

.woocommerce .col2-set .col-1 header {
  padding: 0!important;
  margin-bottom: 0;
  box-shadow: none
}

.woocommerce-account .addresses .title h3 {
  width: auto
}

.woocommerce .col2-set .col-2 header {
  padding: 0!important;
  margin-bottom: 0;
  box-shadow: none
}

.woocommerce .col2-set .col-1 address {
  width: 100%;
  float: left;
  text-align: left;
  font-size: 17px;
  background: #f0f0f0;
  line-height: 27px;
  box-sizing: border-box;
  font-style: normal;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 10px;
  color: #333a4b;
  padding: 15px;
  width: 100%
}

.woocommerce .col2-set .col-2 address {
  width: 100%;
  float: left;
  text-align: left;
  font-size: 17px;
  background: #f0f0f0;
  line-height: 27px;
  box-sizing: border-box;
  font-style: normal;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-top: 10px;
  color: #333a4b;
  padding: 15px;
  width: 100%
}

.woocommerce-address-fields {
  width: 100%;
  float: left
}

.woocommerce-address-fields p {
  margin-bottom: 10px!important
}

.woocommerce-address-fields .button {
  background: #333a4b!important;
  color: #fff!important;
  font-size: 15px!important;
  font-family: 'Brandon Grotesque'!important;
  text-transform: uppercase;
  border-radius: 0!important;
  margin-top: 10px!important;
  height: 40px
}

.woocommerce-address-fields .button:hover {
  background: #000!important
}

.woocommerce-address-fields p {
  padding: 0!important
}

.woocommerce-EditAccountForm {
  width: 100%;
  float: left
}

.woocommerce-EditAccountForm p {
  margin-bottom: 0!important
}

.woocommerce-EditAccountForm .button {
  background: #333a4b!important;
  font-size: 15px!important;
  height: 40px;
  color: #fff!important;
  margin-top: 10px!important;
  text-transform: uppercase;
  border-radius: 0!important
}

.woocommerce-MyAccount-content form {
  float: left;
  border: 1px solid #cfcbc8;
  padding: 20px;
  box-sizing: border-box
}

.woocommerce-EditAccountForm .button:hover {
  background: #000!important
}

.woocommerce-EditAccountForm em {
  width: 100%;
  float: left
}

.woocommerce-EditAccountForm fieldset {
  width: 100%;
  float: left;
  margin-top: 10px
}

.woocommerce form .form-row label {
  width: 100%;
  float: left;
  line-height: 27px!important
}

.woocommerce form .form-row label.screen-reader-text {
  position: initial!important
}
.woocommerce-info{width: 100%!important;float: left;}
.woocommerce-products-header__title{width: 100%;float: left;font-size: 30px;text-align: left;font-weight: 600;margin-bottom: 25px;}